html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 20px;
}

.selector-input {
  padding: 5px;
}

.selector-input input{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-family: monospace;
  width: 100%;
  box-sizing: border-box;
}
