lh = 1.5em
padding = 0.5em
background = rgba(0,0,0,0.2)
marker-padding = 0.2em
green = #a6e22e
red = #f92672

marker-style(colorName, colorVar)
	&.marker-{colorName}:before
		border-color: colorVar

	&.marker-{colorName}.marker-solid:before
		background: colorVar

.match-renderer
	position: relative
	padding: padding

	pre
		margin: 0
		margin-left: lh
		position: relative

		code
			padding: 0
			line-height: lh
			background: transparent

			.hljs-tag
				padding-left: padding

				&.childless.closing
					padding-left: 0

	.match-markers

		.marker
			position: absolute
			height: lh
			left: 0
			right: 0
			margin-top: padding

			marker-style('green', green)
			marker-style('red', red)

			&:nth-child(even)
				background: background

			&.switched-on:before
				content: ""

			&:before
				display: block
				position: absolute
				top: marker-padding
				bottom: marker-padding
				left: marker-padding
				width: .9em
				border-radius: 50%
				border-width: 2px
				border-style: solid
				border-color: transparent
